body {
  margin: 0;
  background-color: azure;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_page {
  font-size: 35px;
}

.login-field {
  margin-bottom: 5px;
}

#btn_login {
  width: 120px;
  margin-top: 10px;
  font-size: 20px;
}

#password_field {
  margin-left: 2px;
}

#lbl_password {
  padding-left: 20px;
  margin-left: -15px;
  font-size: 20px;
}

#lbl_username {
  font-size: 20px;
}